//Hide elements meant to be visible only to screen readers
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

#master-header {
    margin-top: 0;
    transition: margin-top .1s ease 0s;

    .navbar .site-logo {
        display: inline-block;

        img {
            max-height: 2em;
            width: auto;
        }
    }
}

#content {
    margin-top: 4.125em;
    min-height: 100vh;
    transition: margin-top, min-height .1s ease 0s;
}

.footer-dark {
    color: $navbar-dark-color;

    a{
        color: $navbar-dark-active-color;

        @include hover-focus {
            color: $navbar-dark-hover-color;
        }

        &.disabled {
            color: $navbar-dark-disabled-color;
        }
    }
}
